n8n-workflows/trello-integration.json
{
  "name": "Trello Integration for Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trello",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4f5a6b7-1234-4abc-8def-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "trello-claude-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !body.action) {\n  return [{ json: { success: false, error: 'Missing action in request body' } }];\n}\n\nconst { action, params = {}, apiKey, apiToken } = body;\n\nif (!apiKey || !apiToken) {\n  return [{ json: { success: false, error: 'Missing apiKey or apiToken' } }];\n}\n\nconst baseUrl = 'https://api.trello.com/1';\nconst auth = `key=${apiKey}&token=${apiToken}`;\n\nlet url;\nlet method = 'GET';\nlet requestBody;\n\nswitch (action) {\n  case 'list_boards':\n    url = `${baseUrl}/members/me/boards?fields=name,desc,url,closed&${auth}`;\n    break;\n\n  case 'list_lists':\n    if (!params.boardId) return [{ json: { success: false, error: 'Missing params.boardId' } }];\n    url = `${baseUrl}/boards/${params.boardId}/lists?fields=name,pos,closed&${auth}`;\n    break;\n\n  case 'list_cards':\n    if (!params.listId) return [{ json: { success: false, error: 'Missing params.listId' } }];\n    url = `${baseUrl}/lists/${params.listId}/cards?fields=name,desc,labels,due,url,idList,pos&${auth}`;\n    break;\n\n  case 'get_card':\n    if (!params.cardId) return [{ json: { success: false, error: 'Missing params.cardId' } }];\n    url = `${baseUrl}/cards/${params.cardId}?fields=name,desc,labels,due,url,idList,idBoard,pos,closed&members=true&${auth}`;\n    break;\n\n  case 'create_card':\n    if (!params.listId || !params.name) return [{ json: { success: false, error: 'Missing params.listId or params.name' } }];\n    url = `${baseUrl}/cards?${auth}`;\n    method = 'POST';\n    requestBody = { idList: params.listId, name: params.name, desc: params.description || '' };\n    if (params.pos) requestBody.pos = params.pos;\n    if (params.due) requestBody.due = params.due;\n    break;\n\n  case 'update_card':\n    if (!params.cardId) return [{ json: { success: false, error: 'Missing params.cardId' } }];\n    url = `${baseUrl}/cards/${params.cardId}?${auth}`;\n    method = 'PUT';\n    requestBody = {};\n    if (params.name !== undefined) requestBody.name = params.name;\n    if (params.description !== undefined) requestBody.desc = params.description;\n    if (params.due !== undefined) requestBody.due = params.due;\n    if (params.closed !== undefined) requestBody.closed = params.closed;\n    break;\n\n  case 'move_card':\n    if (!params.cardId || !params.listId) return [{ json: { success: false, error: 'Missing params.cardId or params.listId' } }];\n    url = `${baseUrl}/cards/${params.cardId}?${auth}`;\n    method = 'PUT';\n    requestBody = { idList: params.listId };\n    if (params.pos) requestBody.pos = params.pos;\n    break;\n\n  case 'add_comment':\n    if (!params.cardId || !params.text) return [{ json: { success: false, error: 'Missing params.cardId or params.text' } }];\n    url = `${baseUrl}/cards/${params.cardId}/actions/comments?${auth}`;\n    method = 'POST';\n    requestBody = { text: params.text };\n    break;\n\n  default:\n    return [{ json: { success: false, error: `Unknown action: ${action}` } }];\n}\n\nconst options = {\n  method,\n  headers: { 'Content-Type': 'application/json' },\n};\nif (requestBody) {\n  options.body = JSON.stringify(requestBody);\n}\n\ntry {\n  const response = await fetch(url, options);\n  const data = await response.json();\n\n  if (!response.ok) {\n    return [{ json: { success: false, error: data, status: response.status } }];\n  }\n\n  return [{ json: { success: true, data: Array.isArray(data) ? data : [data] } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message } }];\n}"
      },
      "id": "d4f5a6b7-1234-4abc-8def-000000000002",
      "name": "Trello Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "d4f5a6b7-1234-4abc-8def-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trello Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello Router": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
